
  html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    
}

body{
    background-color: #222629;
}

html{
    scroll-behavior: smooth;
}


  
  /* Nav section*/
  
  .nav {
        border-bottom: 1px solid #86c232;
        text-align: center;
        height: 70px;
        line-height: 70px;
        background-color: #474B4F;
        font-family: 'Lato', sans-serif;
        font-size: 1.5vw;

    }

    .menu {
        margin: 0 30px 0 0; 
        display: inline-block;
        

    }

    .menu a {
        clear: right;
        color:#86c232;
        text-decoration: none;
        margin: 0 10px;
        line-height: 70px;
        transition: all .5s ease;
        padding: 0.6vw;
               
    }

    .menu a:hover{
        background-color: #86c232;
        color: #474B4F;
        border-radius: 0.5vw;
        box-shadow: 0 0 1vw #86c232;
        } 

   label {
    margin: 0 40px 0 0;
    font-size: 6vw;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
    color:#86c232;

   }

    #toggle{
        display: none;
    }

@media only screen and (max-width: 500px) {
    
    label {
        display: block; 
        cursor: pointer;
        
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
        background-color:#474B4F;
        font-size: 6vw;
        font-family: 'Lato', sans-serif;
        position: absolute;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #86c232;
        margin:0;
    }   

    #toggle:checked + .menu {
        display: block;
        
    }

} 


/* Forside section*/

.home{
    color:#86c232;
    font-family: 'Lato', sans-serif;

    
}

.home h1{
    font-size: 6vw;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.home h2{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 3vw;

}

.home img {
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}



form.kontaktbtn{
    display: flex;
    justify-content: center;
}

 #kontaktbtn{
     width: 30%;
     border-radius: 0.5vw; 
     border: none;
     outline: none;
     padding: 1vw;
     margin: 6vh;
     align-items: center;
     position: static;
     
     
 }

#kontaktbtn input[type=button], input[type=submit], input[type=reset]{
    display: flex;
    background-color: #86c232;
    color:#222629;
    font-weight: bold;
    justify-content: center;
    font-size: 2vw;
    border-radius: 3%;
    
}

#kontaktbtn:hover{
    cursor: pointer;
    background-color: #86c232;
    color: #222629;
    box-shadow: 0 0 1vw #61892f,  0 0 1.5vw #61892f,  0 0 2.0vw #61892f;
    font-weight: bold;
}

/* Om mig section */

.hvemerjeg h1{
    font-size: 6vw;
    text-align: center;
    color:#86c232;
    font-family: 'Lato', sans-serif;

}

.hvemerjeg h2{
    font-size: 3vw;
    text-align: center;
    color:#86c232;
    font-family: 'Lato', sans-serif;

}

.ommigbody{
    font-size: 2.5vw;
    text-align: center;
    color:#86c232;
    font-family: 'Lato', sans-serif;
    padding-left: 30%;
    padding-right: 30%;

}

.hvemerjeg img {
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}


/* Portfolio section */

.minportfolio h1{
    font-size: 6vw;
    text-align: center;
    color:#86c232;
    font-family: 'Lato', sans-serif;

}
.minportfolio h2{
    font-size: 3vw;
    text-align: center;
    color:#86c232;
    font-family: 'Lato', sans-serif;

}

.portfoliogallery{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.portfolio_item{
    overflow:hidden;
    
}

.portfolio_img{
    transition: transform 750ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
    max-width: 100%;
    max-height: 100%;
    
}


.portfolio_img:focus{
    position: relative;
    z-index: 1;

}

.portfolio_img:hover,
.portfolio_item:focus .portfolio_img {
    transform: scale(1.1);
    opacity: .8;
}

/* service section */

.mine-services h1{
    font-size: 6vw;
    text-align: center;
    color:#86c232;
    font-family: 'Lato', sans-serif;

}

.mine-services h2{
    font-size: 3vw;
    text-align: center;
    color:#86c232;
    font-family: 'Lato', sans-serif;

}

.mine-services h3{
    font-size: 3vw;
    text-align: center;
    font-family: 'Lato', sans-serif;

}

.row p{
    font-size: 2vw;
    text-align: center;
    font-family: 'Lato', sans-serif;
}


.row{
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;

}

.box{
    display: flex;
    flex-direction: column;
    width: 22%;
    height: 32%;
    border: 0.1vw solid #86c232;
    margin: 0.1%;
    align-items: center;
    text-align: justify;
    padding: 1.5%;
    border-radius: 0.5vw;
    color: #86c232;
    background: linear-gradient(to top, #86c232 50%, #222629 50%);
    background-size: 100% 200%;
    transition: all .5s;

}

.box:hover{
    background-position: left bottom;
    color: #222629;
    border: none;
    box-shadow: 0 0 0.8vw #61892f;

}


/* kontakt section */

.kontaktinfo h1{
    font-size: 6vw;
    text-align: center;
    color:#86c232;
    font-family: 'Lato', sans-serif;
}

#kontakt{
    height: 1080px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #222629;
    color: #86c232;
    padding: 15px; 

}

.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
}

.input{
    padding: 10px;
    margin: 15px;
    width: 25%;
    border-radius: 5px;
    border: none;
    outline: none;
}

#besked{
    width: 25%;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px;
    margin: 20px;
}

#send{
    width: 10%;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px;
    margin: 50px;
}

#send:hover{
    cursor: pointer;
    background-color: #86c232;
    color: #222629;
    box-shadow: 0 0 10px #61892f,  0 0 15px #61892f,  0 0 20px #61892f;
    font-weight: bold;
}

/* Footer section */


.footer{
    text-align: center;
    color:#86c232;
    font-size: 2vw;
}